@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Share Tech Mono';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a {
    color: black;
    &:visited {
        color: black;
    }
    &:hover {
        color: black;
        text-decoration: underline;
    }
    &:focus {
        color: black;
        text-decoration: underline;
    }
    &:active {
        color: black;
    }
}

h1,
h4 {
    font-family: 'Share Tech Mono';
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

h1 {
    font-size: 44px;
}

h4 {
    font-size: 30px;
}

nav {
    // background: white;
    // z-index: 100;
    height: 100%;
    padding: 0;
    min-width: 700px;
    max-width: 1000px;

    @include media-breakpoint-up(md) {
        // background: none;
        height: 100%;
        padding: 0;
        min-width: 700px;
        max-width: 1000px;
        // a {
        //     padding: 0 5%;
        // }
    }
}

ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}

li {
    list-style-type: none;
    padding: 25px 0;
    display: inline;

    @include media-breakpoint-up(md) {
        padding: 10px 0;
    }
}

mark {
    background-color: black;
    color: $aboutColour;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}
