.top {
    height: 100vh;
}

.home {
    height: 95vh;
}

.home,
.about,
.projects,
.skills,
.design,
.availability,
.contact {
    width: 100%;
    margin: auto;
    padding: 60px 0;
    position: relative;
}

.logo--home {
    width: 70vmin;
    max-width: 600px;
}

.logo--small {
    width: 50px;
    display: none;
    position: absolute;
    margin: 5px 0;
    left: 10px;
}

.portrait {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
}

.diagram {
    padding: 20px 0 0 0;
}
