// *** UTILITY CLASSES *** //

.u-hidden {
    display: none;
}

.u-hide {
    @media only screen and (max-width: $appBreakpoint) {
        display: none;
    }
}

.u-red {
  color: red;
}

.u-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
}

.js-ontop {
    @include noblur();

    z-index: 20;
    height: 300px;

    @media only screen and (max-width: 340px) {
        height: 340px;
    }
}

.ts-big {
    font-size: 45pt;
}
