// *** UTILITY CLASSES *** //

.u-hide {
    @media only screen and (max-width: $appBreakpoint) {
        display: none;
    }
}

.u-red {
  color: red;
}

.u-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
}

.js-ontop {
    @include noblur();
    z-index: 20;
    height: 300px;

    @media only screen and (max-width: 340px) {
        height: 340px;
    }
}

.wrapper {
    max-width: 960px;
    margin:  0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-up {
    @extend .flex;
    flex-direction: column;
    align-items: center;
}

.ts-big {
    font-size: 45pt;
}

// *** OVERRIDE SIDR STYLES *** //

#side-menu {
    width: 100px;
    font-family: 'Share Tech Mono';
    box-shadow: none;
    background-color: white;
    opacity: 50%;

    ul li:hover {
            box-shadow: none;
    }
}
