$figureSize: 90px;
$triangleSize: 30px;
$appBreakpoint: 880px;

$mainBlue:       #b2e1ff;
$headerColour:   white;
$aboutColour:    aquamarine;
$projectsColour:     #454545;
$skillsColour:      coral;
$designColour:   #161616;
$availabilityColour:    antiquewhite;
$contactColour:  #f3f0ff;

$twitterBlue:  #63CCF0;
$facebookBlue: #45619D;
$linkedinBlue: #1C86BC;
$instagramTan: #BB9F1B;

@mixin triangle($colour) {

    &:after {
        content: ' ';
        position: absolute;
        top: 100%;
        right: 50%;
        border-left: $triangleSize solid transparent;
        border-top: $triangleSize solid $colour;
        z-index: 30;
    }

    &:before {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        border-right: $triangleSize solid transparent;
        border-top: $triangleSize solid $colour;
        z-index: 30;
    }
}

@mixin blur($radius) {
    -webkit-filter: blur($radius);
    -moz-filter:    blur($radius);
    -ms-filter:     blur($radius);
    filter:         blur($radius);
}

@mixin noblur() {
    -webkit-filter: none;
    -moz-filter:    none;
    -ms-filter:     none;
    filter:         none;
}
