doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title portfolio
    link(rel="stylesheet" href="stylesheets/app.css")
  body
    //include includes/loadscreen
    include includes/header
    include includes/about
    include includes/apps
    include includes/web
    //include includes/art
    include includes/study
    include includes/contact
    

    script(src="bower_components/modernizr/modernizr.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="js/plugins/smoothscroll.js")
    script(src="bower_components/foundation/js/foundation.min.js")
    script(src="bower_components/waypoints/lib/noframework.waypoints.js")
    script(src="js/plugins/jquery.sidr.min.js")
    script(src="js/plugins/scripts.js")
