@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    font-size: 18px;
}

html,
body {
    min-height: 100%;
//    min-width: 335px;
    font-family: "Open Sans";
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: $green;
    position: relative;
    margin-top: 0.25em;
    padding-bottom: 0.5em;
    &:after {
        content: " ";
        position: absolute;
        width: 30px;
        height: 3px;
        background: $green none repeat scroll 0% 0%;
        bottom: 0px;
        left: 50%;
        margin-left: -13px;
    }
}

h3 {
    color: $green;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 0 0 0;
    margin: auto;
    &:before {
        content: '■ ';
        position: relative;
        bottom: .03em;
        left: 0;
        color: #666;
    }
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

header {
    @extend .container;
    max-width: 100%;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}

main {
    height: 100%;
    text-align: justify;
}

main {
    display: block;
    background-color: #fff;
//    margin-bottom: 250px;
}

footer {
    text-align: center;
    font-size: 0.5rem;
//    padding: 0.5rem;
    background: #777777;
//    z-index: -1;
//    position: fixed;
//    bottom: 0;
//    right: 0;
//    left: 0;
}

section {
//    padding: 1rem 1rem $triangleSize 1rem;
}

svg {
    width: 100%;
    height: 100%;
    fill: white;
    stroke: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}