.triangle {
    position: relative;
    top: -$triangleSize;
    &__left {
        position: absolute;
        width: 50%;
        right: 50%;
        border-right: $triangleSize solid transparent;
        border-bottom: $triangleSize solid $transWhite;
    }
    &__right {
        position: absolute;
        width: 50%;
        left: 50%;
        border-bottom: $triangleSize solid $transWhite;
        border-left: $triangleSize solid transparent;
    }
}

.overlay-box {
    width: 100%;
    position: absolute;
//    min-height: 20rems;
//    height: 25rem;
//    background: url("../res/overlay.svg") no-repeat center top;
//    background-size: 50rem;
    background: $transWhite;
    &:after {
        content: ' ';
        position: absolute;
        top: 100%;
        right: 50%;
        border-left: $triangleSize solid transparent;
        border-top: $triangleSize solid $transWhite;
    }    
    &:before {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        border-right: $triangleSize solid transparent;
        border-top: $triangleSize solid $transWhite;
    }
    
}


.transparent-box {
    width: auto;
    position: relative;
    padding: 0 1rem $triangleSize 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {}
    &__bottom {}
    &:after {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
        width: 50%;
        border-right: $triangleSize solid transparent;
        border-bottom: $triangleSize solid $transWhite;
        right: 50%;
    }
    &:before {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
        width: 50%;
        border-left: $triangleSize solid transparent;
        border-bottom: $triangleSize solid $transWhite;
        bottom: 0;
        left: 50%;
    }
}

.overlay-box {
    width: 100%;
    position: relative;
    //    min-height: 20rems;
    height: 25rem;
    //    background: url("../res/overlay.svg") no-repeat center top;
    //    background-size: 50rem;
    background: $transWhite;
    &:after {
        content: ' ';
        position: absolute;
        top: 100%;
        right: 50%;
        border-left: $triangleSize solid transparent;
        border-top: $triangleSize solid $transWhite;
    }
    &:before {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        border-right: $triangleSize solid transparent;
        border-top: $triangleSize solid $transWhite;
    }
}
