@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Share Tech Mono';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a {
    color: black;
    &:visited {
        color: black;
    }
    &:hover {
        color: black;
//        text-decoration: underline;
    }
    &:focus {
        color: black;
//        text-decoration: underline;
    }
    &:active {
        color: black;
    }
} 

h1,
h4 {
    font-family: 'Share Tech Mono';
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

h4 {
    font-size: 30px;
}

nav {
    height: 100%;
    padding: 0;
    min-width: 700px;
    max-width: 1000px;
    a {
        padding: 0 5%;
    }
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px 0;
    display: inline;
}

mark {
    background-color: black;
    color: $aboutColour;
}

// *** UTILITY CLASSES *** //

.wrapper {
    max-width: 960px;
    margin:  0 auto;
    padding: 0 20px;
}

.flex {
//    display: -webkit-flex;
//    display: -moz-flex;
//    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-up {
    @extend .flex;
    flex-direction: column;
    align-items: center;
}

.ts-big {
    font-size: 45pt;
}

.row {
    overflow: hidden;
}

p {
    font-size: inherit;
}