.u-hide {
    @media only screen and (max-width: $appBreakpoint) {
        display: none;
    }
}

// *** OVERRIDE SIDR STYLES *** //

#side-menu {
    width: 150px;
        font-family: 'Share Tech Mono';
    box-shadow: none;
    background-color: white;
    opacity: 50%;
    ul li:hover {
            box-shadow: none;
    }
}