@-webkit-keyframes pulse {
  from { 
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    left: 0;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    left: 0;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    left: 0;
  }
}

.pulse {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


//@media #{$medium-up} {
//    .burgerButton {
//        display: none;
//    }
//}
//
//@media #{$small-only} {
//    .header {
//        display: none;
//    }
//}

#mobile-header {
    display: none;
    z-index: 20;
}
@media only screen and (max-width: 767px) {
    #mobile-header {
        display: block;
    }
    nav {
        display: none;
    }
    h1 {
        font-size: 20pt;
    }
    .big-text {
        font-size: 40pt;
    }
}

@media #{$small-only} {
    #portrait {
       width: 200px;
       height: 200px;
    }
    .big-text {
        display: none;
    }
    figure {
        margin: 10px;
    }
    #sidr-main {
        width: 100px;
    }
    .email {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 940px) {
    .big-text {
        font-size: 37pt;
    }
}

.no-js:before  { 
    width: 100%; 
    position: absolute; 
    top: 0; bottom: 0; left: 0; right: 0; 
    display: block; 
    height: 100%; 
    z-index: 999999;  
    background-color: $mainBlue;
    content: "This page requires Javascript to run."; 
    text-align: center; 
    color: white; 
    text-shadow: none; 
    line-height: 150px; 
    vertical-align: bottom;
    
    overflow: hidden;
}