doctype strict
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio
    link(rel="stylesheet", href="css/styles.css")
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js")

  body
    include include/header
    include include/about
    include include/projects
    include include/skills
    include include/availability
    include include/contact

    script(src="js/app.js")
