#availability.availability
    .wrapper
        .availability__content
            h1 Availablility
            p I have recently graduated from the University of Kent with a BSc Honours in Multimedia Technology &amp; Design. I am currently emplyed as a Full Stack Developer at Warner Music, however please get in contact if you want to collaborate on any small to medium sized projects!
