#design.design
    p.design__heading Here is a collection of my UI, Graphic and Web&nbsp;designs
    br
    .js-slick
        img(src="dist/img/design/iphone-mockup-1.jpg" alt="mobile mockup 1")
        img(src="dist/img/design/iphone-mockup-2.jpg" alt="mobile mockup 2")
        img(src="dist/img/design/mockup-2.jpg" alt="mockup 1")
        img(src="dist/img/design/mockup-2_1.jpg" alt="mockup 2")
        img(src="dist/img/design/mockup-5.jpg" alt="mockup 3")
        img(src="dist/img/design/mockup-8.1.jpg" alt="mockup 4")
        img(src="dist/img/design/mockup-9.jpg" alt="mockup 5")
        img(src="dist/img/design/mockup-7.jpg" alt="mockup 6")
        img(src="dist/img/design/mockup-11.jpg" alt="mockup 7")
        img(src="dist/img/design/mockup-3.jpg" alt="mockup 8")
        img(src="dist/img/design/mockup-3_1.jpg" alt="mockup 9")
        img(src="dist/img/design/mockup-6.jpg" alt="mockup 10")
        img(src="dist/img/design/mockup-10.jpg" alt="mockup 11")
        img(src="dist/img/design/mockup-1.jpg" alt="mockup 12")
        img(src="dist/img/design/mockup-1_1.jpg" alt="mockup 13")