#top
    #home.home
        //- .logo.row
            .col-9
                span.logo__ed Ed
                .logo__3
                    span Front
                    span End
                    span Web
                    span Developer
            .logo__br.col-3
                span {
                span }
        img(class="logo--home" src="img/logo.svg" alt="ed logo")
    #header.header
        a(href="#home")
            img(class="logo--small" src="img/logo.svg" alt="ed logo small")
        a(class="js-side-menu-button" href="#side-menu")
            .header--mobile.burgerbutton
                span
                span
                span
                span
        nav
            ul
                li: a(href="#about" class=".top__header__navigation__link") About
                li: a(href="#apps" class=".top__header__navigation__link") Apps
                li: a(href="#web" class=".top__header__navigation__link") Web
                //- li: a(href="#design" class=".top__header__navigation__link") Design
                li: a(href="#availability" class=".top__header__navigation__link") Availability
                li: a(href="#contact" class=".top__header__navigation__link") Contact