#projects.projects
    .window-img.window-img--centre.js-ontop
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__LIL-LINK-69__
        p $>&nbsp;A simple url shortener powered by the 
          a(href='http://mern.io' target="_blank") MERN
          |&nbsp;stack.
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='https://lil-link-69.herokuapp.com' target="_blank") https://lil-link-69.herokuapp.com
            | <wbr>")
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='https://github.com/eddietindame/lil-link-69' target="_blank") https://github.com/eddietindame/lil-link-69
            | <wbr>")
        p.u-hide $>&nbsp;Click the windows 
          span.u-red beside this one 
          |for my other latest projects.
        p $>&nbsp;_
    .window-img.window-img--left
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__PROJECTS__/<wbr>Stinger
        p $>&nbsp;I am creating a cross-platform mobile app using React Native for my final university project.
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='https://github.com/eddietindame/Stinger' target="_blank") https://github.com/eddietindame/Stinger
            | <wbr>")
        p $> This will be a social experience based around tea / coffee rounds
        p $> Currently in progress
    .window-img.window-img--right
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__PROJECTS__/<wbr>TwitchStreamsList
        p $>&nbsp;I'm teaching myself React by building an interface for Twitch.tv. This web-app will let you see when your favorite streamers are online; it will have filtering options and different view layouts.
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='https://github.com/eddietindame/twitch-streams' target="_blank") https://github.com/eddietindame/twitch-streams
            | <wbr>")
        p $>&nbsp;Still in early stages, watch this space_
