#skills.skills
    .wrapper
        p.heading I like to use the most cutting edge tools for the job...
        .icon-row
            .icon-row__box.hover
                figure.top
                    svg(id="html5" class="icon-row__box__graphic pulse")
                        title HTML5 Logo
                        use(xlink:href="img/icons.svg#html5")
                    figcaption HTML5
                figure.bottom
                    svg(id="php" class="icon-row__box__graphic pulse")
                        title PHP Logo
                        use(xlink:href="img/icons.svg#php")
                    figcaption PHP

            .icon-row__box.hover
                figure.top
                    svg(id="css3" class="icon-row__box__graphic pulse")
                        title CSS3 Logo
                        use(xlink:href="img/icons.svg#css3")
                    figcaption CSS3
                figure.bottom
                    svg(id="sass" class="icon-row__box__graphic pulse")
                        title SASS Logo
                        use(xlink:href="img/icons.svg#sass")
                    figcaption SASS

            .icon-row__box.hover
                figure.top
                    svg(id="es6" class="icon-row__box__graphic pulse")
                        title ES6 Logo
                        use(xlink:href="img/icons.svg#es6")
                    figcaption ES6
                figure.bottom
                    svg(id="js" class="icon-row__box__graphic pulse")
                        title Javascript Logo
                        use(xlink:href="img/icons.svg#js")
                    figcaption Javascript

            .icon-row__box.hover
                figure.top
                    svg(id="react" class="icon-row__box__graphic pulse")
                        title React Logo
                        use(xlink:href="img/icons.svg#react")
                    figcaption React
                figure.bottom
                    svg(id="redux" class="icon-row__box__graphic pulse")
                        title Redux Logo
                        use(xlink:href="img/icons.svg#redux")
                    figcaption Redux

            .icon-row__box.hover
                figure.top
                    svg(id="webpack" class="icon-row__box__graphic pulse")
                        title Webpack Logo
                        use(xlink:href="img/icons.svg#webpack")
                    figcaption Webpack
                figure.bottom
                    svg(id="gulp" class="icon-row__box__graphic pulse")
                        title Gulp Logo
                        use(xlink:href="img/icons.svg#gulp")
                    figcaption Gulp

        figure.diagram
            img(src="img/responsive-diagram.svg" alt="responsive web design diagram")
            figcaption Responsive and Accessible
