#availability.study
    .wrapper
        .study__content
            h1 Availablility
            p I will soon be graduating from the University of Kent with a BSc Honours in Multimedia Technology &amp; Design. Although currently employed as a Web Developer, I want to focus my talents on UI and application development with a heavy focus on modern Javascript and Node / React / Redux.
            p I am looking for freelance, contract or permanent full-time work in this field and I am ready to start from May so please don't hesitate to get in touch! You can find my CV linked below.
