.heart {
  $self: &;
  $padding: 0.6em;
  $paddingMd: 1em;
  $radius: 25px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  height: 100%;
  appearance: none;
  background: none;
  border: none;
  transform: rotate(90deg);
  z-index: 3;
  background-color: $white;

  @include media-breakpoint-up(sm) {
    padding: $paddingMd;
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }

  &--active {
    #{$self}__svg {
      &__path {
        opacity: 1;
      }
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    width: 50%;
    height: 100%;
    background-color: $white;
    z-index: 2;

    &:after {
      content: ' ';
      display: block;
      float: right;
      width: calc(100% - (#{$radius} / 2));
      height: 100%;
      background: $white;
    }
  }

  &__message {
    position: absolute;
    top: 0;
    z-index: -1;
    z-index: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: lowercase;

    @include media-breakpoint-up(sm) {
      height: 100%;
    }

    &__inner {
      padding: $padding 0 0;

      @include media-breakpoint-up(sm) {
        padding: 0;
      }
    }
  }

  &__svg {
    position: relative;
    z-index: 4;
    transform: rotate(-90deg);

    @include media-breakpoint-up(md) {
      transform: none;
    }

    &__path {
      cursor: pointer;
      opacity: 0.1;
      transition: all 300ms ease-in-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;

        & + #{$self}__svg {
          &__path {
            opacity: 1;
          }
        }
      }
    }
  }
}
