footer
    //.row.footer__content
        .column.large-4.medium-4.small-4
            ul.footer-list
                li.footer-list__item Legal
                li.footer-list__item Poo
                li.footer-list__item Unity
                li.footer-list__item Access
                li.footer-list__item Location
        .column.large-4.medium-4.small-4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas optio officia hic commodi corrupti deserunt id, ab veritatis porro consequuntur officiis, odit voluptatibus sint.
        .column.large-4.medium-4.small-4
            a(class="button" href="#") Click
    .contact--footer
      .container.flex--x
        .contact__box
            svg.contact__box__graphic
                    title Email Graphic
                    use(xlink:href="res/contact.svg#email")
            p: a(href="mailto:ask@tlc.com") ask@tlc.com
        .contact__box
            svg.contact__box__graphic
                    title Phone Graphic
                    use(xlink:href="res/contact.svg#phone")
            p (+1)7588-690-906
    .copy
        .copy__text &copy; 2015 - Eddie Tindame
        a(href="http://eddietindame.guthub.io") eddietindame.github.io