main
    section.parra-1
      .parra-1__content
        .parra-1__content__top Our expertise in web presence will make your business grow
        .parra-1__content__bottom Find out how...
    section.content
        .column.large-12.medium-12.small-12
            h2 Lorem Ipsum Dolor Sit Amet
        .column.large-4.medium-4.small-12
            h3 Lorem Ipsum
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam voluptatibus cum aliquid neque voluptatem molestias suscipit magnam ipsam corrupti cupiditate molestiae. Tempora nesciunt fuga facere quam, deserunt fugiat commodi. Animi aperiam voluptatibus cum aliquid neque voluptatem molestias. Dignissimos nostrum necessitatibus amet molestiae perferendis, quam voluptates illo, architecto commodi. Ipsum, nesciunt.
        .column.large-4.medium-4.small-12
            h3 Dolor Sit Amet
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt fuga facere quam, deserunt fugiat commodi dolorem placeat delectus aut accusamus dolores necessitatibus, inventore. Tempora nesciunt fuga facere quam, deserunt fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit excepturi ducimus aliquid a beatae eius quae iure illum ad. Animi architecto expedita aut! Quas est laboriosam.
        .column.large-4.medium-4.small-12
            .module
                .module__image
                    svg.module__image__overlay
                        title Play Button
                        use(xlink:href="res/play.svg#play")
                .module__text
                    h3 Consectetur
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nulla quis provident voluptatem aliquid, quia, minus.
    section.parra-2
      .parra-2__content
        .column.large-12.small-12.medium-12
            svg
                title Graph
                use(xlink:href="res/linegraph.svg#graph")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dignissimos corporis tempore! Consequatur, doloremque, quasi. Tempore illum vero cum dolorem voluptatibus laborum sunt ad, iste ullam, autem cupiditate soluta officia.
    section.content
        .column.large-12.medium-12.small-12
            h2 Lorem Ipsum Dolor Sit Amet
        .column.large-4.medium-4.small-12
            h3 Lorem Ipsum
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam voluptatibus cum aliquid neque voluptatem molestias suscipit magnam ipsam corrupti cupiditate molestiae, eius placeat iure sequi maiores nobis odit pariatur.
        .column.large-4.medium-4.small-12
            h3 Dolor Sit Amet
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt fuga facere quam, deserunt fugiat commodi dolorem placeat delectus aut accusamus dolores necessitatibus, inventore, autem dolorum cum magnam quas, saepe?
        .column.large-4.medium-4.small-12
            h3 Consectetur
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe repellendus ad nisi cumque nam voluptate adipisci molestiae beatae dolorum odio. Numquam libero, quas est labore culpa. Itaque quasi, libero exercitationem.
    section.parra-3
      .container
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dignissimos corporis tempore!
            .icon-row
                .icon-row__box
                    figure
                        svg(id="facebook" class="icon-row__box__graphic")
                            use(xlink:href="res/icons.svg#graph1")
                            title Facebook Logo
                        figcaption Lorem
                .icon-row__box
                    figure
                        svg(id="github" class="icon-row__box__graphic")
                            title Github Logo
                            use(xlink:href="res/icons.svg#graph2")
                        figcaption Ipsum
                .icon-row__box
                    figure
                        svg(id="twitter" class="icon-row__box__graphic")
                            title Twitter Logo
                            use(xlink:href="res/icons.svg#graph3")
                        figcaption Dolor
                .icon-row__box
                    figure
                        svg(id="behance" class="icon-row__box__graphic")
                            title Behance Logo
                            use(xlink:href="res/icons.svg#graph1")
                        figcaption Sit Amet
            p Consequatur, doloremque, quasi. Tempore illum vero cum dolorem voluptatibus laborum sunt ad, iste ullam, autem cupiditate soluta officia.