#about
    .wrapper.flex
        section.about__section
            h4 Eddie Tindame
            p:  | Providing creative <mark>Digital Media</mark> solutions for your small business and personal&nbsp;projects. <br/><br/>
                //| <mark>Branding</mark>, <br/>
                | <mark>Websites</mark>, <br/>
                | <mark>Apps</mark>, <br/>
                | <mark>Graphics</mark>, <br/><br/>
                | I love to make them come to life through the&nbsp;web. <br/><br/>
                | In my free time you will find me painting, playing guitar and researching the hidden truths of our&nbsp;universe. <br/><br/>
                | While at work, I like to keep productivity at the forefront with technolgies such as Grunt and&nbsp;Yeoman. <br/>
        aside.about__section
            p.ts-big
                //| "Branding, <br/>
                | "Websites,
                br
                | Apps,
                br
                | Graphics
                br
                | ...
                br
                | come to life"