#about.about
    .wrapper.flex
        section.about__section
            h4 Eddie Tindame
            p Providing creative <mark>Digital Media</mark> solutions for your business and personal&nbsp;projects.
            p:  | <mark>Websites</mark>, <br/>
                | <mark>Apps</mark>, <br/>
                | <mark>Graphics</mark>,
            p I love to make them come to life through the&nbsp;web.
            //- p In my free time you will find me painting, playing guitar and researching the hidden truths of our&nbsp;universe. 
            p.highlight-panel:  | I have 13 months of experience as a Junior Web Developer at 
                a(href="https://www.addison-group.net/" target="_blank") Addison Group
                |, a leading corporarte communications agency in London. <br/>
        aside.about__section
            p.ts-big
                | "Websites,
                br
                | Apps,
                br
                | Graphics
                br
                | ...
                br
                | come to
                br
                | life"
