#about.row.text-center
    .wrapper.flex
        section.column.large-6.small-12
            p.text-center
                | Eddie Tindame <br/><br>
                | Providing creative <mark>Digital Media</mark> solutions for your small business and personal projects. <br/><br/>
                | <mark>Branding</mark>, <br/>
                | <mark>Websites</mark>, <br/>
                | <mark>Apps</mark>, <br/>
                | <mark>Illustration</mark>, <br/><br/>
                | Anything you need for success. <br/><br/>
                | In my free time you will find me playing guitar and researching the hidden truths of our universe. <br/><br/>
                | While at work, I like to keep productivity at the forefront with technolgies such as Grunt and Yeoman. <br/>
        section.column.large-6.small-12
            p.big-text
                | "Branding, <br/>
                | Websites, <br/>
                | Apps, <br/>
                | Illustration." <br/>