#apps.apps
    .window-img.window-img--centre.js-ontop
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__
        p $>&nbsp;Please find my applications and interactive projects hosted on my 
          a(href='https://github.com/eddietindame' target="_blank") GitHub
          |&nbsp;account.
        p.u-hide $>&nbsp;Check the windows 
          span.u-red beside this one 
          |for my latest projects.
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='https://github.com/eddietindame' target="_blank") https://github.com/eddietindame
            | <wbr>")
        p $>&nbsp;_
    .window-img.window-img--left
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__/<wbr>PokéSpeedTier
        p $>&nbsp;Work-in-progress Javascript app that calculates the speed of two selected Pokémon in any battle condition.
        p:  | $>&nbsp;[URL](src="<wbr>
            a(href='http://pokespeedtier.kissr.com' target="_blank") http://pokespeedtier.kissr.com
            | <wbr>")
        p $> Discontinued_
    .window-img.window-img--right
        p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__/<wbr>TwitchStreamsList
        p $>&nbsp;I'm teaching myself React by building an interface for Twitch.tv. This web-app will let you see when your favorite streamers are online; it will have filtering options and different view layouts.
        p $>&nbsp;Watch this space_
        //- p:  | $>&nbsp;[URL](src="<wbr>
        //-     a(href='https://github.com/eddietindame/blog' target="_blank") https://github.com/eddietindame/blog
        //-     | <wbr>")
        //- p $> _
