#apps
        //.windows
        .window-img.window-img--centre.js-ontop
            p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__
            p $>&nbsp;Please find my applications and interactive projects hosted on my GitHub account.
            p.u-hide $>&nbsp;Check the windows beside this one for my latest projects.
            p:  | $>&nbsp;[URL](src="<wbr>
                a(href='https://github.com/eddietindame') https://github.com/eddietindame
                | <wbr>")
            p $>&nbsp;_
        .window-img.window-img--left
            p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__/<wbr>PokéSpeedTier
            p $>&nbsp;Work-in-progress Javascript app that calculates the speed of two selected Pokémon in any battle condition.
            p:  | $>&nbsp;[URL](src="<wbr>
                a(href='http://pokespeedtier.kissr.com') http://pokespeedtier.kissr.com
                | <wbr>")
            p $> _
        .window-img.window-img--right
            p $>&nbsp;cd&nbsp;/users/<wbr>eddietindame/<wbr>__APPS__/<wbr>SimpleRailsBlog
            p $>&nbsp;I'm learning the basics of Ruby on Rails by creating a simple blog with post editing and user authentication.
            p:  | $>&nbsp;[URL](src="<wbr>
                a(href='https://github.com/eddietindame/blog') https://github.com/eddietindame/blog
                | <wbr>")
            p $> _