#apps
    .window-img.window-img--centre.js-ontop
        p $> cd /users/eddietindame/__APPS__
        p $> Please find my applications and interactive projects hosted on my GitHub account or check the windows beside this one for my latest projects.
        p 
            | $> [URL](src=" 
            a(href='https://github.com/eddietindame') https://github.com/eddietindame
            |  ")
        p $> _
    .window-img.window-img--left
        p $> cd /users/eddietindame/__APPS__/PokéSpeedTier
        p 
            | $> [URL](src=" 
            a(href='https://pokespeedtier.kissr.com') https://pokespeedtier.kissr.com
            |  ")
        p $> _
    .window-img.window-img--right
        p $> cd /users/eddietindame/__APPS__/SomeThingThatDoesNotExist
        p $> _