#apps
        //.windows
        .window-img.window-img--centre.js-ontop
            p $>&nbsp;cd&nbsp;/users/eddietindame/__APPS__
            p $>&nbsp;Please find my applications and interactive projects hosted on my GitHub account or check the windows beside this one for my latest projects.
            p:  | $>&nbsp;[URL](src="
                a(href='https://github.com/eddietindame') https://github.com/eddietindame
                | ")
            p $>&nbsp;_
        .window-img.window-img--left
            p $>&nbsp;cd&nbsp;/users/eddietindame/__APPS__/<wbr>PokéSpeedTier
            p $>&nbsp;Work-in-progress Javascript app that calculates the speed of two selected Pokémon in any battle condition.
            p:  | $>&nbsp;[URL](src="
                a(href='http://pokespeedtier.kissr.com') http://pokespeedtier.kissr.com
                | ")
            p $> _
        .window-img.window-img--right
            p $>&nbsp;cd&nbsp;/users/eddietindame/__APPS__/<wbr>SomeThingThatDoesNotExist
            p $> _