#apps.apps
    .apps__window-img
        p $> cd /users/eddietindame/__APPS__
        p $> Please find my applications and interactive projects hosted on my GitHub account.
        p 
            | $> [URL]( src="
            a(href='https://github.com/eddietindame') https://github.com/eddietindame
            | " )
        p $> _