#contact.contact
    .wrapper
        .icon-row
            .icon-row__box: a(href="https://www.facebook.com/eddie.tindame")
                figure
                    svg(id="facebook" class="icon-row__box__graphic")
                        use(xlink:href="res/icons.svg#facebook")
                        title Facebook Logo
                    figcaption Facebook
            .icon-row__box: a(href="https://github.com/eddietindame")
                figure
                    svg(id="github" class="icon-row__box__graphic")
                        title Github Logo
                        use(xlink:href="res/icons.svg#github")
                    figcaption GitHub
            .icon-row__box: a(href="https://www.twitter.com/realquaid69")
                figure
                    svg(id="twitter" class="icon-row__box__graphic")
                        title Twitter Logo
                        use(xlink:href="res/icons.svg#twitter")
                    figcaption Twitter
            .icon-row__box: a(href="https://www.behance.net/eddietindame")
                figure
                    svg(id="behance" class="icon-row__box__graphic")
                        title Behance Logo
                        use(xlink:href="res/icons.svg#behance")
                    figcaption Behance
            .icon-row__box: a(href="https://uk.linkedin.com/in/eddietindame")
                figure
                    svg(id="linkedin" class="icon-row__box__graphic")
                        title Linkedin Logo
                        use(xlink:href="res/icons.svg#linkedin")
                    figcaption LinkedIn
        .contact__me
            a(href="res/eddie-tindame-cv.pdf")
                img(class='portrait' src='res/portrait.jpg' alt='Portrait of Eddie Tindame')
            a(class="popup popup--wide hide" href="res/eddie-tindame-cv.pdf")
                svg(class="popup__graphic" preserveAspectRatio="xMidYMid meet")
                    title Call to Action
                    desc Click here for my cv!
                    use(xlink:href="res/cta.svg#side")
            a(class="popup popup--mobile hide" href="res/eddie-tindame-cv.pdf")
                svg(class="popup__graphic" preserveAspectRatio="xMidYMid meet")
                    title Call to Action 
                    desc Click here for my cv!
                    use(xlink:href="res/cta.svg#up")
            a(href="mailto:eddie.tindame@googlemail.com")
                h1.email eddie.tindame@googlemail.com
            a(class="backtotop js-smoothScroll" href="#top") ^ back to top ^
            .contact__me__copy &copy; 2015 Eddie Tindame