#contact.row.text-center
    .wrapper
        .column.large-12.small-12
            figure: a(href="https://www.facebook.com")
                img(id="facebook" class="webLogo" src="res/facebook_flat.svg" alt="facebook logo")
                figcaption Facebook
            figure: a(href="https://www.instagram.com")
                img(id="instagram" class="webLogo" src="res/instagram_flat.svg" alt="instagram logo")
                figcaption Instagram
            figure: a(href="https://www.twitter.com")
                img(id="twitter" class="webLogo" src="res/twitter_flat.svg" alt="twitter logo")
                figcaption Twitter
            figure: a(href="https://www.linkedin.com")
                img(id="linkedin" class="webLogo" src="res/linkedin_flat.svg" alt="Linked in logo")
                figcaption LinkedIn
            a(href="mailto:eddie.tindame@googlemail.com")    
                h1 eddie.tindame@googlemail.com