#design
        //.column.large-12.text-center
        .fotorama(data-loop="true"
                  data-transition="crossfade"
                  data-allowfullscreen="true"
                  data-nav="thumbs")
            img(src="res/design/iphone-mockup-1.jpg")
            img(src="res/design/iphone-mockup-2.jpg")
            img(src="res/design/mockup-2.jpg")
            img(src="res/design/mockup-2_1.jpg")
            img(src="res/design/mockup-3.jpg")
            img(src="res/design/mockup-3_1.jpg")
            img(src="res/design/mockup-5.jpg")
            img(src="res/design/mockup-8.1.jpg")
            img(src="res/design/mockup-9.jpg")
            img(src="res/design/mockup-7.jpg")
            img(src="res/design/mockup-6.jpg")
            img(src="res/design/mockup-1.jpg")
            img(src="res/design/mockup-1_1.jpg")