#top
    #home
        img(class="logo--home" src="res/logo.svg" alt="ed logo")
    #header
        a(class="js-smoothScroll" href="#home")
            img(class="logo--small" src="res/logo.svg" alt="ed logo small")
        
        a(class="js-side-menu-button" href="#side-menu")
            #header--mobile.burgerbutton
                span
                span
                span
                span
        nav
            ul
                li: a(href="#about" class="js-smoothScroll .top__header__navigation__link") About
                li: a(href="#apps" class="js-smoothScroll .top__header__navigation__link") Apps
                li: a(href="#web" class="js-smoothScroll .top__header__navigation__link") Web
                li: a(href="#design" class="js-smoothScroll .top__header__navigation__link") Design
                li: a(href="#study" class="js-smoothScroll .top__header__navigation__link") Study
                li: a(href="#contact" class="js-smoothScroll .top__header__navigation__link") Contact