#top
    //a(id="simple-menu" href="#sidr")
        img(class="burgerButton" src="res/burger_button.svg" alt="menu button")
    #home.row.text-center
        //.container.column.large-12.small-12.text-center
        img(id="homeLogo" src="res/logo_home.svg" alt="ed logo text")
    #header.row.text-center 
        .wrapper.flex
            a(href="#home" class="smoothScroll")
                img(id="smallLogo" src="res/logo_small.svg" alt="ed logo small")
            #mobile-header
                a(id="responsive-menu-button" href="#sidr-main")
                    //img(id='burger-button' src='res/burger_button.svg')
                    #burgerbutton
                        span
                        span
                        span
                        span
            nav#navigation(onclick='')
                ul
                    li: a(href="#about" class="smoothScroll") About
                    li: a(href="#apps" class="smoothScroll") Apps
                    li: a(href="#web" class="smoothScroll") Web
                    li: a(href="#art" class="smoothScroll") Art
                    li: a(href="#study" class="smoothScroll") Study
                    li: a(href="#contact" class="smoothScroll") Contact