#study
    .content
        h1 Study
        p I am currently studying BSc Multimedia Technology &amp; Design at the University of Kent, Canterbury. As I am focusing on my studies, I cannot offer any freelance work, but I am looking for work placements as a Junior Web Developer.
        p I love the Web! I want nothing more than to expand my knowledge of web technologies and hone my skills into that of a true professional. Help me make that happen by offering me experience! By the end of my studies I will have developed additional skills in UI/UX design and mobile app development.
        p Please visit my GitHub page where you will find the repository for this website. There you will find relevant background info and upcoming changes.