#web.web
    .wrapper
        p.heading I like to use the most cutting edge tools for the job...
        .icon-row
            .icon-row__box.hover
                figure.top
                    svg(id="html5" class="icon-row__box__graphic pulse")
                        title HTML5 Logo
                        use(xlink:href="res/icons.svg#html5")
                    figcaption HTML5
                figure.bottom
                    svg(id="jade" class="icon-row__box__graphic")
                        title Jade Logo
                        use(xlink:href="res/icons.svg#jade")
                    figcaption Jade

            .icon-row__box.hover
                figure.top
                    svg(id="css3" class="icon-row__box__graphic pulse")
                        title CSS3 Logo
                        use(xlink:href="res/icons.svg#css3")
                    figcaption CSS3
                figure.bottom
                    svg(id="sass" class="icon-row__box__graphic")
                        title SASS Logo
                        use(xlink:href="res/icons.svg#sass")
                    figcaption SASS

            .icon-row__box.hover
                figure.top
                    svg(id="js" class="icon-row__box__graphic pulse")
                        title Jacascript Logo
                        use(xlink:href="res/icons.svg#js")
                    figcaption Javascript
                figure.bottom
                    svg(id="jquery" class="icon-row__box__graphic")
                        title jQuery Logo
                        use(xlink:href="res/icons.svg#jquery")
                    figcaption jQuery

            //- .icon-row__box.hover
                figure.top
                    svg(id="foundation" class="icon-row__box__graphic pulse")
                        title Foundation Logo
                        use(xlink:href="res/icons.svg#foundation")
                    figcaption Foundation
                figure.bottom
                    svg(id="grunt" class="icon-row__box__graphic pulse")
                        title Grunt Logo
                        use(xlink:href="res/icons.svg#grunt")
                    figcaption Grunt

            .icon-row__box
                figure.top
                    svg(id="php" class="icon-row__box__graphic pulse")
                        title PHP Logo
                        use(xlink:href="res/icons.svg#php")
                    figcaption PHP
                //- figure.bottom
                    svg(id="rails" class="icon-row__box__graphic")
                        title Rails Logo
                        use(xlink:href="res/icons.svg#rails")
                    figcaption Ruby on Rails

        figure.diagram
            img(src="res/responsive-diagram.svg" alt="responsive web design diagram")
            figcaption Responsive and Accessible

        //- .mockups
        //-     |View my latest mockup&nbsp;
        //-     a(class="mockups__link pulse" href="mockup2/index.html" target="_blank") here
        //-     |.
