#web.row.text-center
    .wrapper
        .column.large-12.text-center.flex
            figure
                img(class="webLogo top pulse" src="res/html5_flat.svg" alt="html5 logo")
                img(class="webLogo bottom" src="res/jade_flat.svg" alt="jade logo")
                figcaption.top HTML5
                figcaption.bottom Jade
            figure
                img(class="webLogo top pulse" src="res/css3_flat.svg" alt="css3 logo")
                img(class="webLogo bottom" src="res/sass_flat.svg" alt="sass logo")
                figcaption.top CSS3
                figcaption.bottom SASS
            figure
                img(class="webLogo top pulse" src="res/js_flat.svg" alt="javascript logo")
                img(class="webLogo bottom" src="res/jquery_flat.svg" alt="jquery logo")
                figcaption.top JavaScript
                figcaption.bottom jQuery
            figure
                img(class="webLogo top pulse" src="res/foundation5_flat.svg" alt="foundation 5 logo")
                img(class="webLogo bottom" src="res/grunt_flat.svg" alt="grunt logo")
                figcaption.top Foundation 5
                figcaption.bottom Grunt
            figure
                img(class="webLogo top pulse" src="res/php_flat.svg" alt="php logo")
                img(class="webLogo bottom" src="res/node_flat.svg" alt="node js logo")
                figcaption.top PHP
                figcaption.bottom Node.JS
            br
            #responsive
                img(src="res/responsive_diagram.svg" alt="responsive web design diagram")
                figcaption Responsive Web Design