#web.web
    .wrapper
        p.heading I like to use the most cutting edge tools for the job...
        .icon-row
            .icon-row__box
                figure.top
                    img(class="icon-row__box__graphic pulse" src="res/html5_flat.svg" alt="html5 logo")
                    figcaption HTML5
                figure.bottom
                    img(class="icon-row__box__graphic" src="res/jade_flat.svg" alt="jade logo")
                    figcaption Jade

            .icon-row__box
                figure.top
                    img(class="icon-row__box__graphic pulse" src="res/css3_flat.svg" alt="css3 logo")
                    figcaption CSS3
                figure.bottom
                    img(class="icon-row__box__graphic bottom" src="res/sass_flat.svg" alt="sass logo")
                    figcaption SASS

            .icon-row__box
                figure.top
                    img(class="icon-row__box__graphic pulse" src="res/js_flat.svg" alt="javascript logo")
                    figcaption JavaScript
                figure.bottom
                    img(class="icon-row__box__graphic" src="res/jquery_flat.svg" alt="jquery logo")
                    figcaption jQuery

            .icon-row__box
                figure.top
                    img(class="icon-row__box__graphic pulse" src="res/foundation5_flat.svg" alt="foundation 5 logo")
                    figcaption Foundation
                figure.bottom
                    img(class="icon-row__box__graphic" src="res/grunt_flat.svg" alt="grunt logo")
                    figcaption Grunt

            .icon-row__box
                figure.top
                    img(class="icon-row__box__graphic pulse" src="res/php_flat.svg" alt="php logo")
                    figcaption PHP
                figure.bottom
                    img(class="icon-row__box__graphic" src="res/rails_flat.svg" alt="rails logo")
                    figcaption Ruby on Rails
                
        figure.diagram
            img(src="res/responsive-diagram.svg" alt="responsive web design diagram")
            figcaption Responsive Web Design