#web.web
    .wrapper
        //h1 Web Skills
        p I like to use the most cutting edge tools for the job...
        .web__graphics
            figure
                img(class="webLogo top pulse" src="res/html5_flat.svg" alt="html5 logo")
                figcaption.top HTML5
                img(class="webLogo bottom" src="res/jade_flat.svg" alt="jade logo")
                figcaption.bottom Jade
            figure
                img(class="webLogo top pulse" src="res/css3_flat.svg" alt="css3 logo")
                figcaption.top CSS3
                img(class="webLogo bottom" src="res/sass_flat.svg" alt="sass logo")
                figcaption.bottom SASS
            figure
                img(class="webLogo top pulse" src="res/js_flat.svg" alt="javascript logo")
                figcaption.top JavaScript
                img(class="webLogo bottom" src="res/jquery_flat.svg" alt="jquery logo")
                figcaption.bottom jQuery
            figure
                img(class="webLogo top pulse" src="res/foundation5_flat.svg" alt="foundation 5 logo")
                figcaption.top Foundation 5
                img(class="webLogo bottom" src="res/grunt_flat.svg" alt="grunt logo")
                figcaption.bottom Grunt
            figure
                img(class="webLogo top pulse" src="res/php_flat.svg" alt="php logo")
                figcaption.top PHP
                img(class="webLogo bottom" src="res/node_flat.svg" alt="node js logo")
                figcaption.bottom Node.JS
        .web__diagram
            img(src="res/responsive-diagram.svg" alt="responsive web design diagram")
            figcaption Responsive Web Design